<div class="main-content">
    <div class="loading-section" *ngIf="!items">
        <div class="loader">
          Loading...
        </div>
    </div>
    <div *ngIf="items">
        <ol>
            <li *ngFor="let item of items; let i = index" class="post">
                <item-row-data [itemId] = 'item'></item-row-data>
            </li>
          </ol>
          <div class="nav">
            <button class="more" (click)="loadmore()">
              More ›
            </button>
          </div>
    </div>
  </div>