<div *ngIf="!item" class="loading-section">
    <!-- You can add a loading indicator here if you want to :) </i> -->
  </div>
  <div *ngIf="item">

    <div>
        <p>
            <a routerLink="/login" [queryParams]="{for:'vote'}">
                <mat-icon class="upvote">arrow_drop_up</mat-icon>
            </a>
            <a class="title" href="{{item?.url}}">
                {{item?.title}}
            </a>
            <span class="domain">{{item?.url | domainName }}</span>
        </p>

        <div class="subtext-class">
          {{item.score}} points by
            <a [routerLink]="['/userinfo', item?.by]">{{item.by}}</a>
            <span> | 
                {{ item.time | convertTime}}
                <span> |
                    <a [routerLink]="['/itemdetails', item?.id]">
                        <span *ngIf="item.descendants !== 0">
                        {{item.descendants}}
                            <span *ngIf="item?.descendants === 1">comment</span>
                            <span *ngIf="item?.descendants > 1">comments</span>
                        </span>
                        <span *ngIf="item.descendants === 0">No Comments</span>
                    </a>
                </span>
            </span>
        </div>
    </div>

  </div>
