@import '../../assets/style-vars.scss';
.commment-section{
    padding: 1rem;
    color: $text-color;
}
.p-button-link {
    padding: 10px 35px;
    margin-top: 10px;
    font-size: 17px;
    color: $text-color;
}